<footer>
    <div class="footer-container">
        <div class="footer-links">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="https://www.facebook.com/mcexpressmtl/" target="_blank">Facebook</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Contact Us</h3>
            <ul>
                <li>Email: <a href="mailto:info@mcexpress.com">mcexpress@mail.com</a></li>
                <li>Phone: <a href="tel:+5149436640">+1 (514) 943-6640</a></li>
                <li>City: Montreal, QC, Canada</li>
            </ul>
        </div>
    </div>
    <p>
        &copy; 2021 MCExpress | 
        <a href="/feedback">Leave Feedback</a> |
        <a href="/about-us">About Us</a> 
    </p>
</footer>