<header>
    <!-- Top Header -->
    <div class="top-header">
        <div class="top-header-left">
            <span><b>Call Us:</b></span> <a href="tel:+5149436640">+1 (514) 943-6640</a>
            <a href="https://www.facebook.com/mcexpressmtl/" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="top-header-right">
            <a href="/get-quote" class="quote-button">Get a Quote</a>
        </div>
    </div>

    <!-- Main Navigation Bar -->
    <nav class="navbar">
        <!-- Logo -->
        <div class="logo-container">
            <a href="/">
                <img src="/img/logo2.jpeg" alt="MCExpress Logo" class="logo">
            </a>
        </div>

        <!-- Navigation Links -->
        <ul class="nav-left">
            <li><a href="/">Home</a></li>
            <li><a href="/get-quote">Schedule</a></li>
            <li><a href="/prices">Prices</a></li>
            <li><a href="/rating">Feedback</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about-us">About Us</a></li>
        </ul>

        <!-- Mobile Menu Toggle -->
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    </nav>
</header>
